*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    background-color: #ebebe8;
    overflow-x: hidden;
    font-family: 'Noto Sans TC', sans-serif;
}
// Navbar 
header{
    z-index:99999;
    width: 100%;
    display: flex;
    justify-content: space-between ;
    padding: 23px 100px;
    background: #ebebe8;
    border-bottom: 1px solid #A1A1A1;
    .backhome{
        position: relative;
        img{
            height:50px;
        }

    }
    ul{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            position: relative;
            list-style: none;
            a{                
                margin: 0 15px;
                text-decoration: none;
                color: #686767;
                letter-spacing: 3px;
                position: relative;
                transition: 0.5s;
                top:7px;
                
                &:before{
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    width: 100%;
                    height: 1px;
                    background: #686767;
                    transform: scale(0);
                    transition: .3s;            
                }
                &:hover:before{
                    transform: scaleX(1);
                }

                &:hover{
                    color: #686767;
                }
            }
        }
    }
}

.menu{
    margin-top: 0.5%;
}

// navbar end

#container{   
    position:absolute;
    display: flex;
    place-content:center;
    width: 100%;
    margin-top: 10px;
}

#place iframe{
    position:relative;
    margin-top: 7vh;
}

.word{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}


#information{
   margin: 5vh;
   width: max-content;
    #one{
        display:flex;
        flex-direction: column;
    }
    #two{
        display:flex;
        flex-direction: column;
    }

    a{
        font-size: 15px;
        text-decoration: none;
        line-height: 30px;
        word-spacing: 6px;
        letter-spacing: 3px;
        color:#686767;
        font-family: 'Noto Sans TC', sans-serif;
        &:hover{
            color:#d69948;
        }
    }


}
#three{
    width: max-content;
    margin-top: 5vh;
    margin-right: 5vh;
}

// loading
#loader-wrapper{
    z-index: 1000;
    width: 100%;
    height:100%;
    top: 0%;
    left: 0%;
    overflow-y: hidden;
    position: absolute;
    background-color: #9c886e;
}

.load{
    position: absolute;
    top: 15%;
    transform: scale(1) rotate(0deg);
    animation: circle 10s linear infinite .3s;
}

@keyframes circle{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.load2{
    position: absolute;
    right: -3%;
    top: 54% ;
    transform: scale(1) rotate(0deg);
    animation: circle2 10s linear infinite .3s;
    img{
        height: 43rem;
    }
}

@keyframes circle2{
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}


footer{
    position:relative;
    height:max-content;
    margin-top: 80px;
    bottom: -700px;
}
footer p{
    width:100%;
    font-size: 15px;
    text-align: center;
    color:rgb(148, 147, 147);
    font-family: 'Noto Sans TC', sans-serif;
}