@charset "UTF-8";
body {
  background-color: #ebebe8;
  width: 100vh;
  height: auto;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
}
header .sticky {
  padding: 5px 100px;
  background: #686767;
}
header .backhome {
  position: relative;
}
header .backhome img {
  height: 50px;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 3px;
  position: relative;
  transition: 0.6s;
}
header ul li a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background: #fff;
  transform: scale(0);
  transition: 0.3s;
}
header ul li a:hover:before {
  transform: scaleX(1);
}
header ul li a:hover {
  color: #fff;
}

header.sticky {
  padding: 10px 100px;
  background: #ebebe8;
}
header.sticky ul li a {
  color: #686767;
  position: relative;
  top: 7px;
  transition: 0.6s;
}
header.sticky ul li a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background: #686767;
  transform: scale(0);
  transition: 0.3s;
}
header.sticky ul li a:hover:before {
  transform: scaleX(1);
}
header.sticky ul li a:hover {
  color: #686767;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
}

#container {
  position: absolute;
  top: 0;
  width: 100%;
}

#title {
  height: 200px;
  width: 200px;
  display: flex;
  place-content: center;
  position: absolute; /*絕對位置*/
  left: 50%;
  top: 50%; /*從左邊開始算，右推 50% (一半) 的位置*/
  margin-top: -200px; /*高度的一半*/
  margin-left: -100px;
}

.content p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #686767;
  margin-top: 40px;
}
.content .text-reveal {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
  transition: all 1.5s;
}

#logo img {
  height: 100px;
}

#backpic .carousel-item {
  height: 970px;
}
#backpic .carousel-item img {
  min-height: 970px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.65);
}

#center_title {
  position: absolute;
  height: 400px;
  width: 380px;
  place-content: center;
  display: grid;
  top: 50%;
  left: 50%;
  margin-top: -320px;
  margin-left: -190px;
  z-index: 9999;
}
#center_title span {
  width: 45px;
  text-align: center;
  font-size: 45px;
  margin-top: 40px;
  margin-left: 45%;
  color: #ebebe8;
  cursor: pointer;
}

#logo2 img {
  height: 130px;
  filter: contrast(250%);
}

.content1 p {
  margin-top: 40px;
  color: #ebebe8;
  text-align: center;
  font-size: 20px;
  font-family: "微軟正黑體";
  font-weight: bold;
}

#pointer {
  margin-top: 20px;
}
#pointer p {
  text-align: center;
  margin-left: 10px;
  color: #ebebe8;
}

#About {
  height: 400px;
  width: 70%;
  position: absolute;
  left: 20%;
  margin-top: 44px;
  justify-content: center;
  align-items: center;
}
#About #about_title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  margin: 50px;
  left: -100px;
}
#About #about_title p {
  font-family: "Playfair Display", serif;
  font-size: 34px;
  color: #9c886e;
}
#About #about_content {
  margin-top: 10px;
  width: 100%;
  height: auto;
  position: relative;
  display: space-between;
}
#About #about_content #about_text {
  width: 33vw;
  position: relative;
  float: left;
  margin-top: 40px;
}
#About #about_content #about_text p {
  line-height: 30px;
  word-spacing: 6px;
  letter-spacing: 3px;
  color: #686767;
  font-family: "Noto Sans TC", sans-serif;
}
#About #about_content #about_pic {
  border: 1px solid #686767;
  padding: 5px;
  position: relative;
  margin-top: 45px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: right;
}
#About #about_content #about_pic img {
  height: 300px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: right;
}

footer {
  position: relative;
  height: 100px;
  margin-top: 80px;
  margin-bottom: 30px;
  bottom: -650px;
}

footer p {
  width: 100%;
  font-size: 15px;
  text-align: center;
  color: rgb(148, 147, 147);
}/*# sourceMappingURL=index.css.map */